<div class="about">
    <h1>About us</h1>
    <p>Everything around seems to be on hold due to the COVID-19 pandemic, but we can’t stop living. No matter what, the show must go on. So people have started buying online but sometimes the dresses doesn’t fit them and results in returning of dresses which is long and sometimes costly processes So 3D model will allow people to enter measurements and see how the dresses will look on them.3D model is well used in the textile fashion industry. This technology allows to get a good visualization of the products and to provide clients with a look they desire.</p>
    <h2>Our Mission</h2>
    <p>1- Providing best designs to our customers.</p>
    <p>2- Use of 3D models to visualize clients looks.</p> 
    <p>3- We aims to establish an innovative paradigm for virtual retailing services of customized clothing that tackles related problems (different sizing systems, fitting problem, and high cost)</p>
        
</div>