
<div class="container-fluid">
    <div class="slider-content">
        <h2>A way to make your life easier</h2>
        <h3>A place for you to make life stylish</h3>
        <h2>Do you want your desire clothes acording to your sizes.</h2>
        <h3>So you are on the right place here you need to give your clothes sizes and we will provide you the facility of stiched and ready clothes.</h3>
    </div>
</div>

<section>

    <div id="dd">
        <h1 style="line-height: 100px; text-align:center;">Dummy Images</h1>
        <div class="dumyContainer">
            <div class="dimg1 img"></div>
            <div class="dimg2 img"></div>
            <div class="dimg3 img"></div>
        </div>
    </div>

    <div class="section">
    </div>

</section>