<div class="login">
    <h1 style="text-align: center; margin-bottom:12px;">Admin Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="Login()"  style="position: relative;">
        <label for="name">email</label>
        <input type="email" formControlName="username" placeholder="Enter email">
        <span *ngIf="username && username.invalid && username.touched" style="color: rgba(220, 20, 60, 0.623); display:block; text-align:center; font-size: 19px;">Enter valid email</span>

        <label for="contact">Password</label>
        <input type="password" formControlName="password" placeholder="Enter Password">
        <span *ngIf="password && password.invalid && password.touched" style="color: rgba(220, 20, 60, 0.623); display:block; text-align:center; font-size: 19px;">Password Required</span>


        <button type="submit" [disabled]="loginForm.invalid" class="submit">sign in</button>
    </form>
</div>